In [1]:
import numpy as np
import pandas as pd

In [5]:
# merge_sort
a = [1,2,3,4]
b = [2,2]

In [17]:
def merge_sort(a,b):
    i = j = 0
    result = []
    total= len(a) + len(b)
    while len(result) != total:
        if len(a) == i:
            result += b[j:]
            break
        elif len(b) == j:
            result += a[i:]
            break
        elif a[i] < b[j]:
            result.append(a[i])
            i += 1
        else:
            result.append(b[j])
            j += 1
    return result

In [18]:
merge_sort(a,b)

[1, 2, 2, 2, 3, 4]

In [24]:
#anagrams
c = 'tide'
d = 'edit'

def ana(c,d):
    dicc = {}
    dicd = {}
    if len(c) != len(d):
        return  False
    for i in range(len(c)):
        dicc[c[i]] = c.count(c[i])
    for j in range(len(d)):
        dicd[d[j]] = d.count(d[j])
    if dicc == dicd:
        return True
    else:
        return False

In [25]:
ana(c,d)

True

In [58]:
# find palindrome in list
e = ['god', 'gdo', 'coffee', 'god']

In [59]:
result = []
for i in range(len(e)):
    for j in range(i+1,len(e)):
        if e[i] == e[j][::-1]:
            result.append((e[i],e[j]))
print result

[]

In [60]:
#find anagrams in list

In [61]:
sorted(e[0]) == sorted(e[1])

True

In [62]:
result = []
for i in range(len(e)):
    for j in range(i+1,len(e)):
        if sorted(e[i]) == sorted(e[j]):
            result.append((e[i],e[j]))
print result

[('god', 'gdo'), ('god', 'god'), ('gdo', 'god')]

In [178]:
#left rotation
a = [1,2,3,4]
def left(a,n):
    return a[n:]+a[:n]

In [182]:
# sum of two integers, target

In [183]:
#bubblesort

In [184]:
#median

In [187]:
#prime number

In [188]:
#list comprehension

In [189]:
#gcm, lcm

In [190]:
# reverse string

In [181]:
left(a,2)

[3, 4, 1, 2]

In [171]:
#find element with max counts in list
max_list = [1,2,3,2,3,2,2,4,1,2,2,3]
temp = 0
for i in max_list:
    if max_list.count(i) > temp:
        temp = max_list.count(i)
print temp

6

In [172]:
max_dict = {}
for i in max_list:
    max_dict[i] = max_list.count(i) 
print max(max_dict.iteritems(), key=operator.itemgetter(1))[0]

2

In [64]:
#bubble sort

In [168]:
# max slice
s = [-2,1,-3,4,-1,2,1,-5,4]
def max_slice(s):
    current = maximum = s[0]
    for i in s:
        current = max(i, current+i)
        maximum = max(current, maximum)
    return maximum

In [169]:
max_slice(s)

6

In [163]:
# dictionary
dict_test = {'a':1, 'b':2}
dict_test['c'] = 3
for k,v in dict_test.iteritems():
    print k,v

a 1
c 3
b 2

In [164]:
import operator

In [167]:
max(dict_test.iteritems(), key=operator.itemgetter(1))[0]

'c'

In [67]:
#dataframe manipulation

In [71]:
fruit = pd.read_csv('sql_practice.csv')
fruit

    ﻿type     variety  price
0   apple       gala    2.79
1   apple        fuji   0.24
2   apple  limbertwig   2.87
3  orange    valencia   3.59
4  orange       navel   9.36
5    pear    bradford   6.05
6    pear    bartlett   2.14
7  cherry        bing   2.55
8  cherry      chelan   6.33

In [73]:
fruit.columns = ['type','variety','price']

In [75]:
pd.pivot_table(fruit, index='variety', columns = 'type', values='price')

type        apple  cherry  orange  pear
variety
bartlett      NaN     NaN     NaN  2.14
bing          NaN    2.55     NaN   NaN
bradford      NaN     NaN     NaN  6.05
chelan        NaN    6.33     NaN   NaN
fuji         0.24     NaN     NaN   NaN
gala         2.79     NaN     NaN   NaN
limbertwig   2.87     NaN     NaN   NaN
navel         NaN     NaN    9.36   NaN
valencia      NaN     NaN    3.59   NaN

In [78]:
cumulative = pd.read_csv('RunningTotal.csv')
cumulative

    ﻿Date Patient  Cost
0  1/1/17       A     1
1  1/2/17       B     1
2  1/3/17       A     1
3  1/4/17       A     1
4  1/4/17       B     1
5  1/5/17       C     1
6  1/6/17       C     1
7  1/6/17       D     1
8  1/6/17       E     1

In [81]:
cumulative.iloc[:,2:3]

   Cost
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1

In [84]:
cumulative.columns=['Date','Patient','Cost']

In [86]:
cumulative.groupby(['Date','Patient']).sum().groupby(level=1).cumsum()

                Cost
Date   Patient
1/1/17 A           1
1/2/17 B           1
1/3/17 A           2
1/4/17 A           3
       B           2
1/5/17 C           1
1/6/17 C           2
       D           1
       E           1

In [88]:
fruit.ix[fruit['type'] == 'apple', 'type'] = 'banana'
fruit

     type     variety  price
0  banana       gala    2.79
1  banana        fuji   0.24
2  banana  limbertwig   2.87
3  orange    valencia   3.59
4  orange       navel   9.36
5    pear    bradford   6.05
6    pear    bartlett   2.14
7  cherry        bing   2.55
8  cherry      chelan   6.33

In [245]:
test = pd.DataFrame([[1,2],[3,4]], columns=list('AB'))
test

   A  B
0  1  2
1  3  4

In [223]:
test.loc[2] = [5,6]
test

   a  b
0  1  3
1  2  4
2  5  6

In [246]:
test1 = pd.DataFrame([[5,6],[7,8]], columns=list('AB'))
test1

   A  B
0  5  6
1  7  8

In [247]:
test.append(test1)

   A  B
0  1  2
1  3  4
0  5  6
1  7  8

In [243]:
test = pd.DataFrame({'a':[1,2],'b':[3,4]})
test1 = pd.DataFrame({'a':[5,6],'b':[7,8]})
test.append(test1)

   a  b
0  1  3
1  2  4
0  5  7
1  6  8

In [249]:
pd.concat[test,test1]

TypeError: 'function' object has no attribute '__getitem__'

In [76]:
#map and apply lambda

In [104]:
test['b'] = test.b.map({2:'h',4:'j'})
test

   a    b
0  1  NaN
1  3  NaN

In [120]:
create = pd.DataFrame({'a':[1,2], 'b':[3,4]})
create

   a  b
0  1  3
1  2  4

In [124]:
create['a'] = create.a.apply(lambda x: x**2)
create

    a  b
0   1  3
1  16  4

In [114]:
test_dic = {}
test_dic[1] = 'ham'

In [117]:
test.replace({'a':test_dic})

     a  b
0  ham  2
1    3  4

In [157]:
nicknames = ['pete','dave', 'pet']
names= {'pete':'peter','dave':'david'}

In [158]:
for i in range(len(nicknames)):
    for k,v in names.iteritems():
        if nicknames[i] == k:
            nicknames[i] = names[k]
print nicknames

['peter', 'david', 'pet']

In [191]:
#first element that doesn't appear twice

In [199]:
h = [1,2,3,1,2,4]
result = []
for i in h:
    if h.count(i) == 1:
        print i
        break

3

In [200]:
# find missing element
z = [4,3,2,7,8,2,3,1]

In [202]:
for i in range(1,len(z)+1):
    if i not in z:
        print i

5
6

In [209]:
#find the added letter
s = "abcd"
t = "abcde"
for i in t:
    if i not in s:
        print i

e